<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE xml>
<configuration debug="true">

<springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>

<springProperty scope="context" name="LOG_LEVEL_mybatis" source="logging.level.kr.hpms.**"/>

	<property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>


	<!-- Console Appender --> 
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
			<pattern>${LOG_PATTERN}</pattern>

		</encoder> 
	</appender>

	<root level="${LOG_LEVEL}">
		<appender-ref ref="CONSOLE"/>
	</root>
	
	<logger name="org.mybatis" level="${LOG_LEVEL_mybatis}" additivity="true"> 
		<appender-ref ref="CONSOLE"/> 
	</logger>
		
</configuration>
